:root {
  --background: rgb(225, 225, 225);
  --hovered-background: rgb(250, 250, 250);
  --pannel: rgb(200, 200, 200);
  --tabs: rgb(175, 175, 175);
  --text: rgb(50, 50, 50);
  --hovered-pannel: rgb(225, 225, 225);
  --hovered-tabs: rgb(200, 200, 200);
  --active-tabs: var(--background);
  --shadows: rgb(100, 100, 100);
  --borders: transparent;
  --right-width: 280px;
  --masks: none;
  --hovered-tab-z-index: 0;
  --hovered-tab-height: 50px;
  --hovered-tab-box-shadow: none;
  --transition: 0.25s;
  --search-bar-height: 0rem;
  --radius: 1rem;
  --nec-radius: 1rem;
  --button-scale: 0.75;
  --maximum-tab-width: 100%;
  --tab-width: calc(33% / var(--button-scale));
  --tab-margin: calc((3.125rem - (3.125rem * var(--button-scale))) / 2 / var(--button-scale));
  --blur-amount: 15px;
  --highlight-colour: rgb(0, 0, 255);
  --slider-height: 0.4375rem;
  --highlight-text: rgb(200, 200, 200);
}
html {
  content-visibility: auto;
  width: 100%;
  height: 100%;
}
.document-dark-mode {
  --background: rgb(25, 25, 25);
  --hovered-background: rgb(75, 75, 75);
  --pannel: rgb(30, 30, 30);
  --tabs: rgb(50, 50, 50);
  --text: rgb(200, 200, 200);
  --hovered-pannel: rgb(100, 100, 100);
  --hovered-tabs: rgb(100, 100, 100);
  --active-tabs: var(--background);
  --shadows: rgb(150, 150, 150);
  --borders: transparent;
  --right-width: 280px;
  --transparent-background: rgba(75, 75, 75, 0);
  --highlight-colour: rgb(0, 200, 255);
}
body {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--text);
  content-visibility: auto;
  background: var(--background)
}
#top-bar {
  width: 100%;
  height: 3.125rem;
  background: var(--pannel);
  display: block;
  box-shadow: 0 0 10px var(--shadows);
  z-index: 2;
}
#top-bar button {
  position: absolute;
  top: 0px;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0px;
  background: none;
  border: var(--borders);
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  scale: var(--button-scale);
  color: var(--text);
}
#top-bar button:hover {
  background: var(--hovered-pannel);
}
#settings-button {
  left: 0px;
}
#settings-button:hover div:not(#settings-button div:nth-child(1)):not(#settings-button div:nth-child(2))::before {
  background: var(--hovered-pannel);
}
.gear:nth-child(1){
  width: 0.625rem;
  height: 0.625rem;
  border: 0.09375rem solid var(--text);
  border-radius: 50%;
}
.gear:nth-child(2) {
  position: absolute;
  width: 1.175rem;
  height: 1.175rem;
  border-radius: 50%;
  border: 0.09375rem solid var(--text);
}
.gear:not(.gear:nth-child(1)):not(.gear:nth-child(2)) {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gear:not(.gear:nth-child(1)):not(.gear:nth-child(2))::before {
  content: "";
  width: 0.313rem;
  height: 0.313rem;
  border: 0.09375rem solid var(--text);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top: none;
  background: var(--pannel);
  margin-top: 1.5rem;
  transition: var(--transition);
}
.gear:nth-child(3) {
  rotate: 45deg;
}
.gear:nth-child(4) {
  rotate: 90deg;
}
.gear:nth-child(5) {
  rotate: 135deg;
}
.gear:nth-child(6) {
  rotate: 180deg;
}
.gear:nth-child(7) {
  rotate: 225deg;
}
.gear:nth-child(8) {
  rotate: 270deg;
}
.gear:nth-child(9) {
  rotate: 315deg;
}
#settings-button:active{
  scale: 1;
  transition: 0s;
}
#top-bar button:active {
  transition: 0s;
  scale: calc(var(--button-scale) * 1.1);
}
#search-bar {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  scale: var(--button-scale);
  width: calc((100% - 6.250rem) / var(--button-scale));
  height: 3.125rem;
  padding: 0px;
  background: var(--pannel);
  transition: var(--transition);
  font-size: 2rem;
  font-family: "Times New Roman", times, serif;
  cursor: pointer;
  position: absolute;
  left: 3.125rem;
  content-visibility: auto;
  min-height: 3.125rem;
  border-radius: var(--radius);
  transform-origin: left top;
  z-index: 1;
  position: absolute;
  top: calc((3.125rem - 3.125rem * var(--button-scale))/2);
  max-height: calc(100% / var(--button-scale) - (3.125rem - 3.125rem * var(--button-scale)));
  overflow: scroll;
}
#search-bar input {
  width: calc(100%);
  height: 3.125rem;
  padding: 0px;
  margin: 0px;
  border: var(--border);
  background: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Times New Roman", times, serif;
  transition: var(--transition);
  cursor: pointer;
  color: var(--text);
}
#search-bar:has(input:focus){
  z-index: 3;
}
#search-bar input:focus {
  outline: none;
  cursor: text;
}
#search-bar input::placeholder {
  color: var(--text);
  opacity: 1;
  transition: var(--transition);
  width: 100%;
}
#search-bar input::-ms-input-placeholder {
  color: var(--text);
  opacity: 1;
  transition: var(--transition);
}
#search-bar input:focus::placeholder {
  color: var(--text);
  opacity: 0.5;
}
#search-bar input:focus::-ms-input-placeholder {
  color: var(--text);
  opacity: 0.5;
}
#search-bar:hover {
  background: var(--hovered-pannel);
}
#search-bar:has(input:focus) {
  cursor: text;
  outline: none;
  height: var(--search-bar-height);
  background: var(--hovered-pannel);
  box-shadow: 0 0 0.25rem var(--shadows);
  border-radius: var(--nec-radius);
  backdrop-filter: blur(var(--blur-amount));
}
#search-bar div:not(#search-bar div div) {
  width: 100%;
  position:absolute;
  left: 0px;
  top: 3.125rem;
}
#search-bar div div {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--nec-radius);
}
#search-bar div span {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
}
#search-bar div div:hover {
  background: var(--highlight-colour);
  color: var(--highlight-text);
}
#new-tab {
  right: 0px;
  font-size: 2.5rem;
  font-family: "Times New Roman", times, serif;
}
#tab-bar {
  position: absolute;
  left: 0px;
  top: 3.125rem;
  width: calc(100%);
  height: 3.125rem;
  background: var(--tabs);
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 2;
  box-shadow: inset 0px 10px 10px -10px var(--shadows), inset 0 -7px 10px -10px var(--shadows);
}
#tab-bar div:not(.tab):not(.tab div):not(#slider) {
  width: calc(100% / var(--button-scale) + var(--tab-margin));
  height: 3.125rem;
  margin-left: calc(0px - var(--tab-margin) / 2 * var(--button-scale));
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: var(--button-scale);
  transform-origin: left center;
  position: absolute;
}
.tab {
  max-width: var(--maximum-tab-width);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  font-family: "Times New Roman", times, serif;
  cursor: pointer;
  border-radius: var(--radius);
  transition: var(--transition);
  margin: calc(var(--tab-margin) / 2);
  padding: 0px;
  position: relative;
  z-index: 0;
  flex: 1 1 0px;
  position: relative;
}
.tab:hover {
  background: var(--hovered-tabs);
  z-index: var(--hovered-tab-z-index);
}
.tab p {
  z-index: 2;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
.tab:active {
  transition: 0s;
  scale: 1.1;
  z-index: -1;
}
.selected-gradient {
  position: absolute;
  left: calc(0px - var(--radius));
  height: calc(100% / var(--button-scale));
  pointer-events: none;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  filter: drop-shadow(0px 0px 10px var(--shadows));
}
#main {
  position: absolute;
  top: 6.25rem;
  left: 0px;
  width: calc(100%);
  height: calc(100% - 6.25rem);
  background: var(--background);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  z-index: 2;
}
#main::-webkit-scrollbar {
  display: none;
}
#slider {
  position: absolute;
  width: var(--tab-width);
  max-width: var(--maximum-tab-width);
  top: calc(0px - (3.125rem - 3.125rem * var(--button-scale)) / 2 / var(--button-scale));
  background: var(--highlight-colour);
  box-shadow: 0 0 10px var(--shadows);
  z-index: 3;
  left: 0px;
  margin: 0px;
  padding: 0px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  box-shadow: 0px 0px 10px var(--shadows);
  height: var(--radius);
  border: none;
  padding: 0px;
  clip-path: inset(-10px -10px calc(var(--radius) - var(--slider-height)) -10px);
}
#main .screen {
  position: absolute;
  top: 0px;
  width: var(--screen-width);
  height: calc(var(--screen-height) - 6.25rem);
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.scroller {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-top: 3.125rem;
  z-index: 0;
}
@keyframes tabExpand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.control-top-bar {
  height: 3.125rem;
  background: var(--background);
  box-shadow: 0 2px 10px var(--shadows);
  scale: var(--button-scale);
  border-radius: var(--radius);
  width: fit-content;
  left: calc(var(--tab-margin) * var(--button-scale));
  background: var(--transparent-background);
  backdrop-filter: blur(var(--blur-amount));
  transition: var(--transition);
  font-size: 2rem;
  color: var(--text);
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  display: flex;
}
#settings-screen {
  font-size: 1.25rem;
}
.fixer {
  height: calc(3.125rem + 5px);
}
.settings-folder {
  width: calc(var(--screen-width) / var(--button-scale) - var(--tab-margin) * 2);
  height: 3.125rem;
  display: flex;
  scale: var(--button-scale);
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--radius);
  transform-origin: left center;
  margin-left: calc(var(--tab-margin) * var(--button-scale));
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  overflow: visible;
}
.settings-folder:hover {
  background: var(--hovered-background);
}
.settings-folder::before {
  content: ">";
  font-size: 2rem;
  color: transparent;
  transition: var(--transition);
  position: absolute;
  right: 5px;
}
.settings-folder:hover::before {
  color: var(--text);
}
#settings-scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: grid;
  grid-template-columns: var(--screen-width) var(--screen-width) var(--screen-width) var(--screen-width) 
}
.folder-holder {
  display: none;
  width: calc(var(--screen-width) / var(--button-scale));
  height: fit-content;
  position: absolute;
  left: calc(var(--screen-width) / var(--button-scale));
  top: 0px;
}
.scroll-point {
  width: var(--screen-width);
  margin: 0px;
  padding: 0px;
  scroll-snap-align: start;
  background: transparent;
  pointer-events: none;
  position: absolute;
}
.input {
    width: fit-content;
    background: var(--background);
    border-radius: var(--radius);
    content-visibility: auto;
    display: inline-block;
    height: calc(3.125rem * var(--button-scale));
    transition: var(--transition);
    position: relative;
    backdrop-filter: blur(var(--blur-amount));
    -webkit-backdrop-filter: blur(var(--blur-amount));
}
.input div:not(.colour-widget) {
    height: calc(3.125rem * var(--button-scale) - 20px);
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    padding-right: 30px;
}
.input div:not(.colour-widget):hover {
    background: var(--hovered-background);
}
.selected {
    box-shadow: 0 3px 10px var(--shadows);
    height: var(--menu-height);
    background: var(--transparent-background);
    backdrop-filter: blur(var(--blur-amount))
}
.selected div:not(.colour-widget) {
  transition: none;
  border-radius: var(--radius);
}
.selected div:not(.colour-widget):hover {
  background: var(--highlight-colour);
  color: var(--highlight-text)
}
#themeChangeHolder {
  height: calc(3.125rem * var(--button-scale));
  width: fit-content;
  display: flex;
  align-items: center;
}
#themeChangeHolder .selected {
  margin-top: calc(3.125rem * var(--button-scale) * 2);
}
.input::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.4375rem solid transparent;
  border-top: 0.625rem solid var(--text);
  position: absolute;
  right: 0.4375rem;
  top: calc(50% - 0.3125rem);
  pointer-events: none;
}
.selected::before {
  display: none;
}
.colour-widget {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 0.4375rem;
  display: none;
}
.selected .colour-widget {
  display: block;
}
#device {
  background: white;
}
#light {
  background: white;
}
#dark {
  background: black;
}
@media (prefers-color-scheme: dark) {
  #device {
    background: black;
  }
}
.editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  margin: 0px;
}
.editIcon svg * {
  stroke: var(--text);
}
.editIcon:focus svg *, .screen:has(.createTask:focus) .editIcon svg *{
  stroke: var(--highlight-colour);
}
.edit-top-bar {
  padding: 0px;
}
.createTask {
  width: calc(100% - 6.25rem);
  height: calc(100% - 6.25rem);
  margin-left: 3.125rem;
  margin-top: 3.125rem;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: var(--radius);
  background: var(--transparent-background);
  backdrop-filter: blur(var(--blur-amount));
  box-shadow: 0 3px 10px var(--shadows);
  transition: var(--transition);
  scale: 0%;
  overflow: scroll;
}
.createTask:has(*:focus){
  scale: 100%;
}

.screen:has(.edit-top-bar .editIcon:focus) .createTask, .createTask:focus {
  scale: 100%;
}
.congrats-message {
  font-size: 3rem;
  width: 100%;
  height: calc(100%);
  margin-top: -3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
}
.congrats-message p{
  text-align: center;
}
.themeChanging * {
  transition: var(--transition);
}
.doneBar {
  background: var(--pannel);
  width: 100%;
  height: 3.125rem;
  position: fixed;
  bottom: 0px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  z-index: 1;
}
.createScroller {
  padding: 0px;
  height: calc(100% - 3.125rem);
}
.doneBar button:nth-child(1){
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(fit-content / var(--button-scale) - (3.125rem - (3.125rem * var(--button-scale))) * 2);
  height: 3.125rem;
  scale: var(--button-scale);
  background: transparent;
  transition: var(--transition);
  color: var(--text);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: var(--radius);
}
.doneBar button:nth-child(1):hover{
  background: var(--hovered-pannel);
}
.doneBar button:nth-child(2){
  position: absolute;
  right: 0px;
  top: 0px;
  width: calc(fit-content / var(--button-scale) - (3.125rem - (3.125rem * var(--button-scale))) * 2);
  height: 3.125rem;
  scale: var(--button-scale);
  background: transparent;
  transition: var(--transition);
  color: var(--text);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: var(--radius);
}
.doneBar button:nth-child(2):hover{
  background: var(--hovered-pannel);
}

.mockTask {
  position: absolute;
  width: 75%;
  left: 0px;
  border-radius: var(--radius);
  margin-left: 12.5%;
  min-height: 10px;
  z-index: 0;
  background: var(--tabs);
  box-shadow: 0 3px 10px var(--shadows);
  overflow: scroll;
}
.mockTask:before {
  content: var(--mockTaskContent);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  max-height: calc(var(--screen-height) - 15.625rem);
  position: absolute;
  bottom: 0px;
}

.createInput {
  transform: scale(var(--button-scale));
  padding-left: 10px;
  padding-right: 10px;
  height: 3.125rem;
  text-align: center;
  width: calc(100% / var(--button-scale) - 20px - (3.125rem - 3.125rem * var(--button-scale)));
  margin-top: calc((3.125rem - 3.125rem * var(--button-scale)) / 2);
  margin-left: calc((3.125rem - 3.125rem * var(--button-scale)) / 2);
  border: 0px;
  font-family: Arial;
  resize: none;
  transform-origin: left top;
  transition: var(--transition);
  border-radius: var(--radius);
  box-sizing: border-box;
  outline: none;
  background: transparent;
  font-size: 1.75rem;
  outline: none;
  z-index: 1;
  color: var(--text);
}

.createInput:focus {
  background: var(--hovered-tabs);
}
.createInput:hover {
  background: var(--hovered-tabs);
}
.mockTaskDescriptionInput {
  height: calc(100% - 9.375rem);
  min-height: 6.25rem;
}
.createInput::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.createInput::-ms-input-placeholder {
  color: var(--text);
  opacity: 0.5;
}
.createInput::-webkit-input-placeholder {
  color: var(--text);
  opacity: 0.5;
}
@media screen and (max-width: 600px) {
  #tab-bar {
    display: none;
  }
  #main {
    top: 50px;
    height: calc(100% - 50px);
  }
  #search-bar {
    left: calc((3.125rem - 3.125rem * var(--button-scale)) / 2);
    width: calc((100% - (3.125rem - 3.125rem * var(--button-scale))) / var(--button-scale));
    
  }
  #top-bar button {
    display: none;
  }
}